body{
    background-size: cover;
}
#btn1{
    font-size: 30px;
}
#btn2{
    font-size: 30px;
}
#btn3{
    font-size: 30px;
}
#btn4{
    font-size: 30px;
}
#btn5{
    font-size: 30px;
}